.List {
    width: 30%;
    background-color:  #d9d9d9;
    margin: 23px;
    position: relative;
    float: left;
    min-width: 350px;
    height: 450px;
    overflow: scroll;
}

.Title {
    width: 30%;
    position: relative;
}

.InputIcon {
    float: right;
    margin-right: .2em;
    margin-top: -1.1em;
    position: relative;
    z-index: 2;
}