.Board {
    background: border-box;
    background-color:  #80bfff;
    position: absolute;
    left: 10%;
    width: 90%;
    padding: 2em;
}

.Title {
    width: 30%;
    position: relative;
}

.Icon {
    float: right;
    margin-right: .2em;
    margin-top: -1.1em;
    position: relative;
    z-index: 2;
}